.page {
    margin: 0;
    padding: 0;
    background-color: #000000;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
  }