.profile__edit-icon {
    width: 168.75px;
    height: 128px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-image: url('../../../images/Edit_Button.svg');
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    display: none;
  }