.element {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: calc(100% - 22px - 30px) calc(22px + 30px);
    grid-template-rows: 1fr 79px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
  }

