.popup__form {
    width: 430px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 195px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    font-family: inherit;
  }
  
  @media screen and (max-width: 530px) {
    .popup__form {
      width: 282px;
      top: 123px;
    }
  } 

  .popup__form_type_delete-confirm {
    height: 221px;
  }