.route-form__input {
  display: block;
  background-color: black;
  width: 358px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  margin: 0;
  padding: 30px 0 13px;
  color: #fff;
}

.route-form__input::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 530px) {
  .route-form__input {
    width: 260px;
    bottom: 77px;
    font-size: 16px;
    line-height: 19px;
  }
} 