.button_type_add {
    width: 150px;
    height: 50px;
    grid-row: 1/3;
    grid-column: 4/5;
    align-self: center;
    justify-self: end;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: #000000;
    padding: 14px 64px;
    background-image: url('../../../images/Add_Button.svg');
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
  }
  
  
  @media screen and (max-width: 991px) {
    .button_type_add {
      margin-right: 27px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .button_type_add {
      width: calc(100% - 27px * 2);
      grid-row: 3/4;
      grid-column: 1/5;
      align-self: center;
      justify-self: center;
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 479px) {
    .button_type_add {
      width: calc(100% - 19px * 2);
      background-size: 16px 16px;
    }
  }