.button_type_edit-avatar {
    width: 168.75px;
    height: 127.5px;
    background: transparent;
    border: none;
    grid-row: 1/3;
    align-self: center;
    padding: 0 3.75px 0 0;
    margin: 0 auto;
    position: relative;
  }
  
  .button_type_edit-avatar:hover .profile__edit-icon {
    display: block;
  }

  @media screen and (max-width: 991px) {
    .button_type_edit-avatar {
      padding-left: 27px;
      margin-bottom: 22.25px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .button_type_edit-avatar {
      margin-bottom: 36px;
    }
  }


  