.header-popup__button {
  background-color: black;
  margin: 0 auto;
  border: none;
  padding: 0 0 40px;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 56px;
  height: 22px;
}