.route-form__button {
  background-color: #fff;
  color: black; 
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  position: fixed;
  bottom: 112px;
  margin: 0;
  padding: 0;
}

.route-form__button:hover {
  opacity: .85;
}

@media screen and (max-width: 530px) {
  .route-form__button {
    width: 260px;
    bottom: 77px;
    font-size: 16px;
    line-height: 19px;
  }
} 