.popup__field {
    width: 358px;
    margin: 0 auto;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .popup__field::placeholder {
    color: #C4C4C4;
  }
  
  @media screen and (max-width: 530px) {
    .popup__field {
      width: 238px;
    }
  } 